<!DOCTYPE html>
<html ng-app="app">
<head>
    <title> 胖子下载机管理页面 </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ui-bootstrap-tpls-0.9.0.min.js" type="text/javascript" charset="utf-10"></script>
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <header>
      <div class="lead jumbotron text-center"> 
        <!--<img src="img/eular.png" height="128" width="128" alt="从前有个胖子,后来他瘦了">-->
        从前有个胖子 后来他瘦了
      </div>
    </header>
    <div class="container row" ng-controller="main">

      <div id="operations" class="col-md-7 col-md-offset-1">
      <!--timeout: <input type="number" ng-model="fps">-->
      <div class="row form-group">
        <!--<label class="col-md-1 control-label" for="query"> 搜索: </label>-->
        <input ng-model="query" placeholder="Type to search" class="form-control">
      </div>
     
      <div id="tasksList">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="col-md-3 text-center" ng-click="sort_by_name();">名称</th>
          <th class="col-md-2 text-center" ng-click="sort_by_status();">状态</th>
          <th class="col-md-2 text-center">可选操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks | filter: {name : query} | orderBy:orderProp:reverse" ng-class-odd="'odd'" ng-class-even="'even'">
          <td class="col-md-3 text-center">
            <a href="{{task.url}}">{{ task.name || task.url }}</a>
          </td>
          <td class="col-md-2 text-center" ng-switch on="task.status">
            <!--{{task.status | statusTexture}}-->
            <div ng-if="task.status == status_unstarted">
              <span class="glyphicon glyphicon-stop"></span> 未启动
            </div>
            <div ng-if="task.status == status_waiting">
              <progressbar class="progress-striped active" value="100" animate="false" type="warning">等待中</progressbar>
            </div>
            <div ng-if="task.status == status_downloading">
              <progressbar class="progress-striped active" value="task.finished" max="task.total" animate="false" type="success"><span class="text-center" style="color:black">{{task.finished * 100.0 / task.total | number:2}}%</span></progressbar>
            </div>
            <div ng-if="task.status == status_combining">
            <progressbar class="progress-striped active" value="100" animate="false" type="info">合并中</progressbar>
            </div>
            <div ng-if="task.status == status_success">
              <span class="glyphicon glyphicon-ok-sign"></span> 已完成
            </div>
            <div ng-if="task.status == status_failure">
              <span class="glyphicon glyphicon-warning-sign"></span> 有错误发生
            </div>
          </td>
          <td class="col-md-2 text-center">

            <button class="btn btn-success btn-sm" ng-click="task_delete(task.id);" ng-if="task.status == status_unstarted || task.status == status_failure || task.status == status_success">
              <span class="glyphicon glyphicon-remove"></span> 
            </button>

            <button class="btn btn-success btn-sm" ng-click="task_cancel(task.id);" ng-if="task.status == status_downloading || task.status == status_waiting">
              <span class="glyphicon glyphicon-stop"></span> 
            </button>

            <button class="btn btn-success btn-sm" ng-click="task_start(task.id);" ng-if="task.status == status_unstarted || task.status == status_failure">
              <span class="glyphicon glyphicon-play"></span> 
            </button>

         </td>
        </tr>
        </tbody>
      </table>
      </div>
      <!--end of tasks table-->
    
    </div>
    <!--end of operations area-->

    <div id="notices" class="col-md-3 col-md-offset-1">

      <div id="instructions" class="row text-primary">
        <button class="btn btn-info btn-sm" ng-click="hide_instruction = !hide_instruction">说明</button>
        <button class="btn btn-info btn-sm" ng-click="task_archive();">归档</button>

        <div collapse="hide_instruction">
          <ul>
            <li> 本页面用来管理下载任务.  </li>
            <li> 一个任务完整的生命周期包括:
              <ul>
                <li>未开始</li>
                <li>等待</li>
                <li>下载</li>
                <li>合并</li>
                <li>成功(失败)</li>
              </ul>
            </li>
            <li> 你可以在"未开始"或者"失败"的时候来重新启动该任务,可以在"等待"或者"下载"的时候来取消该任务.删除仅仅表示删除任务本身,并不会删除已经下载合并的视频.对于"合并中"状态的任务,暂时不开放任何操作权限.  </li>
            <li> 由于sohu视频每次解析给出的下载地址都会变化,暂时不支持断点续传,当有错误发生时(包括用户主动取消),临时文件将自动清除.如果下载合并成功,文件将会自动移动到iTunes视频目录,下次启动iTunes时会自动添加.  </li>  
            <li> 如果有任务下载完成或者失败,将会有对应的通知出现在下方的通知栏.  </li>
            <li> 左侧的搜索框是用来搜索现有任务的.  </li>
          </ul>
        </div>
      </div>
      <!--end of instructions-->

      <div id="alerts" class="row">
        <div class="row" ng-if="alerts.length > 0">
          <hr>
          <button class="btn btn-info btn-sm" ng-click="alerts_clear_all()">清除所有通知</button>
          <hr>
        </div>
        <div class="row">
          <alert ng-repeat="alert in alerts" type="alert.type" close="alerts_close($index)">
            {{alert.msg}}
          </alert>
        </div>

      </div>
      <!--end of alerts-->
    </div>
    <!--end of notices area-->

    </div>
    <!--end of whole page-->
</body>
</html>
